# Appium Server
APPIUM_SERVER_URL=http://127.0.0.1:4723

# Android настройки
ANDROID_DEVICE_NAME=emulator-5554
# Путь к APK (по умолчанию apps/android/app.apk)
# ANDROID_APP_PATH=apps/android/app.apk
ANDROID_PLATFORM_VERSION=13

# iOS настройки
IOS_DEVICE_NAME=iPhone 14
# Путь к APP (по умолчанию apps/ios/app.app)
# IOS_APP_PATH=apps/ios/app.app
IOS_PLATFORM_VERSION=16.0

# Таймауты
IMPLICIT_WAIT=10
EXPLICIT_WAIT=20

